<div>
  <div id="mainBG" style="background-image: url('{{ $.Site.Params.mainbg }}');">
    <div class="wave wave1"></div>
    <div class="wave wave2"></div>
    <div class="wave wave3"></div>
    <div class="wave wave4"></div>
    <div class="centerAll">
      <div class="title text-6xl font-bold text-center">
        {{ $.Site.Params.maintitle }}
      </div>
      <div class="text text-xl text-center">{{ $.Site.Params.maintext }}</div>
    </div>
  </div>
  {{ $data := .Site.Data.home }}
  <main class="container mx-auto mt-8">
    <section id="about" class="flex justify-around">
      <div class="my-auto">
        {{ partial "home_title" (dict "title" "Skills") }}
        <div class="flex mt-3 gap-3 text-xl">
          {{ range $data.about.links.link }}
          <i class="{{ .icon }}"></i>{{end}}
        </div>
      </div>
      <div class="text-md">
        <div>{{ replace $data.about.text "\n" "<br />" | safeHTML }}</div>
      </div>
    </section>
    <section id="skills" class="mt-4">
      <div class="flex justify-center">
        {{ partial "home_title" (dict "title" "Skills") }}
      </div>
    </section>
    <section id="projects"></section>
  </main>
</div>
